<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Revisi2.css" />

  </head>

  <body class="flex-column">

    <main class="revisi2 main">
      <section class="home">
        <div class="home1">
          <p class="lbl1_box">
            <span class="lbl1">
              <span class="lbl1_span0">
                REMOVE BACKGROUND
                <br />
              </span>
              <span class="lbl1_span1">

                <br />
              </span>
              <span class="lbl1_span2">
                <br />
                <br />
              </span>
            </span>
          </p>
          <p class="lbl2">Designed to remove photo background with a single click! Don&#x27;t worry, it&#x27;s 100% free!</p>
          <button class="btnGas">
            <!-- TODO --> 
            Let’s do it now!
          </button>
        </div>
      </section>

      <section class="howTo">
        <div class="howto">
          <div class="judul">How to do it?</div>
          <div class="step-hapus">
            <div class="info1">Remove background</div>
            <p class="desc">
              Put the photo you want to edit into the drag and drop photo section
              <br />
              <br />
              Lalu klik tombol untuk menghapus latar belakang
              <br />
              <br />
              If the results are as you want, you can immediately download!
            </p>
          </div>
          <div class="step-tambah">
            <div class="info1">Add background</div>
            <p class="desc">
              tap the button to add background. you can choose a color background or a photo from your gallery.
              <br />
              <br />
              If you choose to add a background from the gallery then input the photo/image you want to add a background to.
              <br />
              <br />
              If the results are as you want, you can immediately download!
            </p>
          </div>
        </div>
      </section>

    </main>

  </body>

</html>
